VITE_TEMPER_CONTRACT_ADDRESS=0x1f156EB776698C283774Bfb7d2B9608257d6c47d
VITE_DEMO_LIABILITY_SOURCE_ADDRESS=0x357c1a93EaEA2B4FcC1Bc706EF478A0Bb9A794a9
VITE_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
